@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
:root {
  --color-gray: #CFDBD5;
  --color-white: #E8EDDF;
  --color-yellow: #F5CB5C;
  --color-medium-black: #333533;
  --color-dark-black: #242423;
}

.navbar-custom {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: var(--color-medium-black);
  color: var(--color-white);
  margin-bottom: 0.8rem;
}

.navbar-custom-logo {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navbar-custom-logo img {
  height: 100%;
}

.navbar-custom ul {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-custom ul li {
  width: 12%;
  height: 100%;
  margin: 1rem;
  text-transform: uppercase;
}
.navbar-custom ul li .nav-link-custom {
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-white);
}
.navbar-custom ul :hover {
  color: var(--color-gray);
  font-weight: bold;
  background-color: var(--color-dark-black);
}

.movies {
  position: relative;
  z-index: 100;
}
.movies:hover .dropdown-movies {
  display: block;
  background-color: transparent;
}
.movies:hover .dropdown-movies ul {
  width: auto;
  display: block;
  background-color: var(--color-medium-black);
  overflow: hidden;
  border-radius: 0 0 0.25rem 0.25rem;
}
.movies:hover .dropdown-movies ul li {
  width: 180px;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem 0.5rem;
  color: var(--color-white);
}
.movies:hover .dropdown-movies ul li:hover {
  cursor: pointer;
  color: var(--color-dark-black);
  background-color: var(--color-white);
}
.movies:hover .dropdown-movies ul li:hover a {
  color: var(--color-medium-black);
}
.movies:hover .dropdown-movies ul li a {
  color: var(--color-white);
}
.movies:hover .dropdown-movies ul li a:hover {
  background-color: transparent;
}
.movies .dropdown-movies {
  width: auto;
  display: none;
  position: absolute;
  background-color: white;
}
.movies .dropdown-movies ul {
  width: auto;
  display: block;
}
.movies .dropdown-movies ul li {
  width: 180px;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem 0.5rem;
  color: var(--color-dark-black);
}
.movies .dropdown-movies ul li:hover {
  background-color: var(--color-gray);
}

.series {
  position: relative;
  z-index: 100;
}
.series:hover .dropdown-series {
  display: block;
  background-color: transparent;
}
.series:hover .dropdown-series ul {
  width: auto;
  display: block;
  background-color: var(--color-medium-black);
  overflow: hidden;
  border-radius: 0 0 0.25rem 0.25rem;
}
.series:hover .dropdown-series ul li {
  width: 180px;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem 0.5rem;
  color: var(--color-white);
}
.series:hover .dropdown-series ul li:hover {
  cursor: pointer;
  color: var(--color-dark-black);
  background-color: var(--color-white);
}
.series:hover .dropdown-series ul li:hover a {
  color: var(--color-medium-black);
}
.series:hover .dropdown-series ul li a {
  color: var(--color-white);
}
.series:hover .dropdown-series ul li a:hover {
  background-color: transparent;
}
.series .dropdown-series {
  width: auto;
  display: none;
  position: absolute;
  background-color: white;
}
.series .dropdown-series ul {
  width: auto;
  display: block;
}
.series .dropdown-series ul li {
  width: 180px;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem 0.5rem;
  color: var(--color-dark-black);
}
.series .dropdown-series ul li:hover {
  background-color: var(--color-gray);
}

.nav-search {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.nav-search input[type=search], .nav-search .nav-submit {
  height: 60%;
}
.nav-search input[type=search] {
  width: 75%;
  padding-left: 1rem;
  border-radius: 0.25rem 0 0 0.25rem;
  color: var(--color-medium-black);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-search input[type=search]:focus {
  outline: 2px solid var(--color-gray);
}
.nav-search .nav-submit {
  width: 25%;
  height: 100;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: var(--color-yellow);
}
.nav-search .nav-submit:hover {
  transition: 0.5s;
  background-color: var(--color-dark-black);
}
.nav-search .nav-submit:hover svg {
  color: var(--color-white);
}
.nav-search .nav-submit svg {
  color: var(--color-medium-black);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline-style: none;
  outline: 0;
  border-style: none;
}

body {
  background-color: var(--color-dark-black);
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  max-width: 150vw;
  max-height: 100vh;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-dark-black);
  filter: blur(2px) drop-shadow(20px 13px 24px var(--color-medium-black)) brightness(50%);
  opacity: 0.75;
  z-index: -1;
}
section div {
  width: 315px;
  display: flex;
  justify-content: center;
  gap: 0;
  overflow: hidden;
  margin: 0.5rem 0;
  z-index: -10;
}
section div img {
  width: 100%;
}

footer {
  width: 100vw;
  height: 75px;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer h3 {
  font-weight: 100;
}

.title {
  width: 100%;
  color: var(--color-white);
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  font-size: 5rem;
  filter: drop-shadow(5px 5px 22px #000);
  text-align: center;
}
.title h1 {
  font-weight: 100;
}

/*# sourceMappingURL=App.css.map */
